<div class="container">
    <div class="row justify-content-center" *ngFor="let city of cities">
        <div class="col-8 weather-city pb-0">
            <div class="row">
                <div class="col-4 city-info mt-2">
                    <div>
                        <img [src]="'http://openweathermap.org/img/w/' + city.icon + '.png'">
                        <span class="city-temp"> {{city.temp}}°C </span>
                    </div>
                    <div>
                        <span> {{city.description}} </span>
                    </div>
                    <div class="city-temp-min-max mt-2">
                        <span> Min: {{city.temp_min}}°C </span>
                        <span> Max: {{city.temp_max}}°C </span>
                    </div>
                </div>
                <div class="col-4 city-info">
                    <h1 class="city-name">{{city.name}}</h1>
                    <div class="time-now">
                        {{city.dt}}
                    </div>
                </div>
                <div class="col-4 city-info">
                    <div>
                        <img src="assets/wind.webp" width="64" height="64">
                    </div>
                    <span class="city-wind">{{city.wind}}m/s</span>
                </div>
            </div>
            <div class="row">
                <i class="fa fa-arrow-down forecast-icon" *ngIf="!city.expanded" (click)="getForecast(city)"></i>
                <div class="col" *ngIf="city.expanded">
                    <div class="row">
                        <div class="col-2 hourly-forecast" *ngFor="let forecast of city.forecast">
                            <div class="row time">
                                <span class="time-style">Time: </span>
                                <span> {{forecast.dt}} </span>
                            </div>
                            <div class="row temp">
                                <span class="temp-style">Temp: </span>
                                <span> {{forecast.temp}}°C </span>
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-arrow-up forecast-icon" (click)="city.expanded = false"></i>
                </div>
            </div>
        </div>
    </div>
</div>