.container {
    .weather-city {
        // box-shadow: 5px 5px 25px 5px #000000;
        background-color: rgb(145, 140, 140);
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        text-align: center;
        border: 2px solid #CC7B7B;
        border-radius: 25px;
        padding-left: 30px;
        padding-right: 30px;
        background-image: url("../../../assets/nebo.jpg");
    }

    .city-info {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;

        .time-now {
            font-size: 25px;
        }

        .city-temp,
        .city-wind {
            font-size: 23px;
            margin-block-end: auto;
        }

        .city-temp-min-max {
            text-align: center;
            display: block;
            margin: auto;
            font-size: 14px;

            span {
                padding: 5px;
            }
        }
    }

    button {
        display: block;
        margin: auto;
    }

    .forecast-icon {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4px;
        color: #404040;
        font-size: 12px;
    }

    .forecast-icon:hover {
        cursor: pointer;
    }

    .hourly-forecast {
        border-radius: 10px;
        box-shadow: 24px 17px 45px -9px #9e9e9e;

        .time,
        .temp {
            font-size: 13px;
            text-align: center;
            display: block;
            margin: auto;

            .time-style,
            .temp-style {
                font-style: oblique;
                font-weight: bold;
                color:rgb(67, 67, 67);
            }
        }

        .close {
            padding-top: 50px;
        }
    }
}
